<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Storbin - {% block title %}{% endblock title %}</title>
    <style type="text/css">
      html, body{
        height:100vh;
        width:100vw;
      }
    </style>
  </head>

  <body>
    <div class="container">
      
      <div class="d-flex justify-content-center align-items-center" style="height:100vh; overflow:hidden;">
        <div class="card shadow-sm">

          <div class="card-header fw-bold">
            Storbin - {% block card_header %}{% endblock card_header %}
          </div>

          <div class="card-body">
            {% block card_body %}{% endblock card_body %}
          </div>

        </div>
      </div>
      
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container" x-data>
      <template x-for="toast in $store.toasts">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" :id="$id('toast')">
          <div class="d-flex">
            <div class="toast-body">
              Text uploaded on <a target="_blank" :href="toast" x-text="'/' + toast"></a>.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </template>
    </div>

    <script>
      function delay(time) {
        return new Promise(resolve =>
          setTimeout(resolve, time)
        );
      }

      htmx.on('showMessage', (e) => {
        Alpine.store('toasts').push(e.detail.value);
        delay(100)
          .then(() => {
            (new bootstrap.Toast(
              document.getElementById(
                `toast-${Alpine.store('toasts').length}`
              ),
              { delay: 5000 },
            )).show();
          });
      });

      document.addEventListener('alpine:init', () =>
        Alpine.store('toasts', [])
      );
    </script>

  </body>

</html>
